<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BGTaskSchedulerPermittedIdentifiers</key>
	<array>
		<string>com.appliedphasor.secure-shellfish.maintain</string>
	</array>
	<key>BuildMachineOSBuild</key>
	<string>24G325</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>Shell Fish</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeIconFiles</key>
			<array>
				<string>error.png</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Secure ShellFish Error</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.appliedphasor.secure-shellfish.unlock-error</string>
			</array>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>ShellFish</string>
	<key>CFBundleIconFile</key>
	<string>AppIcon</string>
	<key>CFBundleIconName</key>
	<string>AppIcon</string>
	<key>CFBundleIdentifier</key>
	<string>com.appliedphasor.secure-shellfish</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>ShellFish</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>2025.38</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>MacOSX</string>
	</array>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>shellfish</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>register-sftp</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>shellfish-terminal</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>shellfish-folder</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>ssh</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>sftp</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>shellfish-publickey</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>shellfish-playback</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>3589</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>25A352</string>
	<key>DTPlatformName</key>
	<string>macosx</string>
	<key>DTPlatformVersion</key>
	<string>26.0</string>
	<key>DTSDKBuild</key>
	<string>25A352</string>
	<key>DTSDKName</key>
	<string>macosx26.0</string>
	<key>DTXcode</key>
	<string>2601</string>
	<key>DTXcodeBuild</key>
	<string>17A400</string>
	<key>INIntentsRestrictedWhileLocked</key>
	<array>
		<string>ControlServerIntent</string>
	</array>
	<key>INIntentsRestrictedWhileProtectedDataUnavailable</key>
	<array>
		<string>ControlServerIntent</string>
	</array>
	<key>INIntentsSupported</key>
	<array>
		<string>ControlServerIntent</string>
	</array>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.developer-tools</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>shortcuts</string>
		<string>org-appextension-feature-password-management</string>
		<string>x-textastic-9-5</string>
	</array>
	<key>LSMinimumSystemVersion</key>
	<string>14.4</string>
	<key>LSSupportsOpeningDocumentsInPlace</key>
	<true/>
	<key>NFCReaderUsageDescription</key>
	<string>Authenticate with your NFC YubiKey.</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSBonjourServices</key>
	<array>
		<string>_ssh._tcp</string>
	</array>
	<key>NSCameraUsageDescription</key>
	<string>Scan QR codes for quick server configuration.</string>
	<key>NSFaceIDUsageDescription</key>
	<string>Authenticate with Face ID.</string>
	<key>NSLocalNetworkUsageDescription</key>
	<string>Secure ShellFish can connect to local servers.</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>Your location while using the terminal is shown on a map to help remember where you used different servers.

Location data never leaves your device.</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>Your location while using the terminal is shown on a map to help remember where you used different servers.

Location data never leaves your device.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Your location while using the terminal is shown on a map to help remember where you used different servers.

Location data never leaves your device.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Insert terminal text using your voice.</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>Store photos from Help.</string>
	<key>NSServices</key>
	<array>
		<dict>
			<key>NSKeyEquivalent</key>
			<dict>
				<key>default</key>
				<string>~@u</string>
			</dict>
			<key>NSMenuItem</key>
			<dict>
				<key>default</key>
				<string>Upload with Secure ShellFish</string>
			</dict>
			<key>NSMessage</key>
			<string>uploadUrl</string>
			<key>NSPortName</key>
			<string>ShellFish</string>
			<key>NSRequiredContext</key>
			<dict>
				<key>NSTextContent</key>
				<string>FilePath</string>
			</dict>
			<key>NSSendFileTypes</key>
			<array>
				<string>public.directory</string>
				<string>public.file-url</string>
			</array>
			<key>NSSendTypes</key>
			<array>
				<string>public.file-url</string>
			</array>
		</dict>
	</array>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>Insert terminal text using dictation.</string>
	<key>NSSupportsAutomaticTermination</key>
	<true/>
	<key>NSSupportsLiveActivities</key>
	<true/>
	<key>NSSupportsSuddenTermination</key>
	<true/>
	<key>NSUserActivityTypes</key>
	<array>
		<string>BackupIntent</string>
		<string>ControlServerIntent</string>
		<string>CreateDir2Intent</string>
		<string>DeleteFile2Intent</string>
		<string>DownloadFile2Intent</string>
		<string>GetPathIntent</string>
		<string>InstallPublicKey</string>
		<string>LeaveFeedbackIntent</string>
		<string>List2Intent</string>
		<string>List3Intent</string>
		<string>Move2Intent</string>
		<string>PushWidgetConfigurationIntent</string>
		<string>ServerListIntent</string>
		<string>StartTerminalIntent</string>
		<string>StatFileIntent</string>
		<string>Terminal</string>
		<string>TerminalSession</string>
		<string>UploadFile2Intent</string>
		<string>UploadFile3Intent</string>
		<string>WidgetConfigurationIntent</string>
	</array>
	<key>UIAppFonts</key>
	<array>
		<string>Powerline-Regular.otf</string>
		<string>Powerline-Italic.otf</string>
		<string>Powerline-Bold-Italic.otf</string>
		<string>Powerline-Bold.otf</string>
		<string>JetBrainsMono-Regular.otf</string>
		<string>JetBrainsMono-Italic.otf</string>
		<string>JetBrainsMono-BoldItalic.otf</string>
		<string>JetBrainsMono-Bold.otf</string>
		<string>FiraCode-Regular.ttf</string>
		<string>FiraCode-Bold.ttf</string>
		<string>CascadiaMonoPL-Regular.otf</string>
		<string>CascadiaMonoPL-Italic.otf</string>
		<string>CascadiaMonoPL-BoldItalic.otf</string>
		<string>CascadiaMonoPL-Bold.otf</string>
		<string>JetBrainsMonoNerdFont-Regular.ttf</string>
		<string>JetBrainsMonoNerdFont-Italic.ttf</string>
		<string>JetBrainsMonoNerdFont-Bold.ttf</string>
		<string>JetBrainsMonoNerdFont-BoldItalic.ttf</string>
		<string>TimesNewRoman.ttf</string>
	</array>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<true/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default</string>
					<key>UISceneDelegateClassName</key>
					<string>ShellFish.ShellFishSceneDelegate</string>
					<key>UISceneStoryboardFile</key>
					<string>Main</string>
				</dict>
			</array>
		</dict>
	</dict>
	<key>UIBackgroundModes</key>
	<array>
		<string>audio</string>
		<string>fetch</string>
		<string>location</string>
		<string>processing</string>
		<string>remote-notification</string>
	</array>
	<key>UIDesignRequiresCompatibility</key>
	<true/>
	<key>UIDeviceFamily</key>
	<array>
		<integer>2</integer>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleDefault</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<true/>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>com.apple.icon-decoration.badge</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Offline Folder</string>
			<key>UTTypeIconFiles</key>
			<array>
				<string>offline-folder.png</string>
			</array>
			<key>UTTypeIdentifier</key>
			<string>com.appliedphasor.secure-shellfish.offlineIcon</string>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.item</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Secure ShellFish Error</string>
			<key>UTTypeIconFiles</key>
			<array>
				<string>error.png</string>
			</array>
			<key>UTTypeIdentifier</key>
			<string>com.appliedphasor.secure-shellfish.error</string>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.item</string>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Secure ShellFish Error</string>
			<key>UTTypeIconFiles</key>
			<array>
				<string>error.png</string>
			</array>
			<key>UTTypeIdentifier</key>
			<string>com.appliedphasor.secure-shellfish.unlock-error</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>shellfish-unlock-error</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.plain-text</string>
			</array>
			<key>UTTypeDescription</key>
			<string>configuration file</string>
			<key>UTTypeIconFiles</key>
			<array/>
			<key>UTTypeIdentifier</key>
			<string>app.secureshellfish.config-file</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>conf</string>
					<string>htaccess</string>
					<string>ini</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>com.apple.property-list</string>
			</array>
			<key>UTTypeDescription</key>
			<string>iTerm2 Color Presets</string>
			<key>UTTypeIconFiles</key>
			<array/>
			<key>UTTypeIdentifier</key>
			<string>com.iterm2.itermcolors</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>itermcolors</string>
				</array>
			</dict>
		</dict>
	</array>
	<key>UTImportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
				<string>public.item</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Transmit Servers</string>
			<key>UTTypeIconFiles</key>
			<array/>
			<key>UTTypeIdentifier</key>
			<string>com.panic.transmit.servers</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>transmitServers</string>
				</array>
			</dict>
		</dict>
	</array>
	<key>com.apple.developer.nfc.readersession.iso7816.select-identifiers</key>
	<array>
		<string>A000000527471117</string>
		<string>A0000006472F0001</string>
		<string>A0000005272101</string>
		<string>A000000308</string>
		<string>A000000527200101</string>
	</array>
</dict>
</plist>
